<div class="content-wrapper">
<section class="content-header">
   <div class="container-fluid">
   </div>
</section>
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">Parking Types and Spots Avilability</h3>
               </div>
               <%if @items.present?%>
               <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Parking Types</th>
                           <th>Spot Available</th>
                        </tr>
                     </thead>
                     <tbody>
                     	<% @items.each do |f| %>
                        <tr>
                           <td><%= f.id%></td>
                           <td><%= f.title%></td>
                           <td><%= f.count%></td>
                        </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
  </section>
</div>
